@{
    ViewBag.Title = "Home Page";
}

<div>
    @Html.ActionLink("Lista de Pedidos de Lotería", "OrderList")
    @Html.ActionLink("Nuevo Pedido de Lotería", "NewOrder")
    @Html.ActionLink("Editar Lotería", "UpdateOrderLine")
</div>