@model IEnumerable<LoteriaES.Models.LotteryOrder>

@{
    ViewBag.Title = "Listado de Pedidos de Lotería";
}

<h3>Listado de Pedidos</h3>

<table class="table">
    <tr>
        <th>
            Id Pedido
        </th>
        <th>
            Fecha de Pedido
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.ActionLink("Detalle", "Details", new { id = item.OrderId }, htmlAttributes: new { @class = "btn btn-default btn-xs" })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Nuevo Pedido", "Create",null, htmlAttributes: new { @class = "btn btn-default" })
</p>